In [33]:
import pandas as pd

In [34]:
python_parsed = pd.read_csv('Parsed2.csv')
manual_parsed = pd.read_csv('assets/classifiedchat_context.csv')
manual_parsed = manual_parsed[manual_parsed['Category'] == 'report']

In [35]:
compare_df = pd.DataFrame()
compare_df['python_parsed'] = python_parsed
compare_df['manual_parsed'] = manual_parsed['Parse Text'].tolist()
compare_df

,python_parsed,manual_parsed
0,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
1,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
2,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
3,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
4,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
...,...,...
16376,"wahyu 19, wahyu 20, wahyu 21, wahyu 22","wahyu 19, wahyu 20, wahyu 21, wahyu 22"
16377,"kejadian 1, kejadian 2","kejadian 1, kejadian 2"
16378,"kejadian 1, kejadian 2, kejadian 3, kejadian 4...","kejadian 1, kejadian 2, kejadian 3, kejadian 4..."
16379,"wahyu 1, wahyu 2, wahyu 3, wahyu 4, wahyu 5, w...","wahyu 1, wahyu 2, wahyu 3, wahyu 4, wahyu 5, w..."
16380,"wahyu 19, wahyu 20","wahyu 19, wahyu 20"

In [37]:
result = 0
for i in range(len(python_parsed)):
    if compare_df['python_parsed'][i] == compare_df['manual_parsed'][i]:
        result += 1

print(f'accuracy: {result/16381*100}')

accuracy: 92.3936267627129